.fleamarket{
    display: flex;
    justify-content: center;
    .fleam_all{
        width: 60%;
        background-color: #fff;
        .ant-divider {
            border-width: 2px 0 0;
        }
        .ant-comment-inner{
            padding: 0 0;
        }
        .ant-comment-inner{
            text-align: start;
        }
        .ant-comment-content-detail{
            div{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}