.fleamarket{
    display: flex;
    justify-content: center;
    .fleam_all{
        display: flex;
        justify-content: center;
        width: 70%;
        .fleam_left{
            width: 60%;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px 20px;
            margin-top: 20px;
            .ant-divider {
                border-width: 2px 0 0;
            }
            .ant-comment-content{
                .ant-comment-actions{
                    margin-top: 0;
                    li{
                        width: 100%;
                        .comment_bottom{
                            display: flex;
                            justify-content: space-around;
                            .share{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-weight: bold;
                                font-size: 14px;
                                cursor:pointer;
                                width: 60px;
                                text-align: center;
                                
                            }
                            .share:hover{
                                background-color: #136ac065;
                                border-radius: 10px;
                            }
                            .comment{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-weight: bold;
                                font-size: 14px;
                                cursor:pointer;
                                width: 60px;
                                text-align: center;
                            }
                            .comment:hover{
                                background-color: #136ac065;
                                border-radius: 10px;
                            }
                            .like{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-weight: bold;
                                font-size: 14px;
                                cursor:pointer;
                                width: 60px;
                            }
                            .like:hover{
                                background-color: #136ac065;
                                border-radius: 10px;
                            }
                        }
                    }
                }
                .ant-comment-content-author-name
                {
                    width: 100%;
                }
            }
            .top_comment{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .ant-input{
                    height: 110px;
                }
                .ant-btn{
                    width: 120px;
                }
            }
            .ant-comment-inner{
                padding: 0 0;
            }
            .ant-comment-inner{
                text-align: start;
                margin: 10px 0;
            }
            .ant-comment-content-detail{
                margin: 5px 0;
                div{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
                .ant-image{
                    cursor: pointer;
                }
                
                .ant-image-mask-info{
                    align-self:center;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .fleam_right{
            width: 10%;
            .inter_right{
                width: 300px;
                height: 400px;
                margin-left: 40px;
                background-color:#fff;
                margin-top: 20px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                .int_right_avatar{
        
                    .username{
                        font-weight: bold;
                        font-size: 24px;
                        padding-top: 20px;
                    }
                }
                .int_right_msg{
                    line-height: 20px;
                    font-size: 20px;
                    display: flex;
                    .points{
                        margin-right: 10px;
                        div{
                            margin-top: 5px;
                        }
                    }
                    .order{
                        border-left: 3px solid rgba(0, 0, 0, 0.184);
                        padding-left: 10px;
                        div{
                            margin-top: 5px;
                        }
                    }
                }
                .int_right_shopcart{
                    
                    .ant-btn-lg{
                        padding-left: 50px;
                        padding-right: 50px;
                    }
                    .ant-btn-primary{
                        margin: 5px 0;
                        background-color: #136ac0c6;
                        border-color: #136ac0c6;
                    }
                    
                }
            }
        }
        
    }
}